flows/agent.yml
id: tech_watchdog_agent
namespace: dev.hackathon
description: "AI Agent that scans tech news and alerts on critical items."

inputs:
  - id: topic
    type: STRING
    defaults: "Salesforce DevOps critical bugs"

tasks:
  - id: analyze_market
    type: io.kestra.plugin.ai.agent.AIAgent
    model: 
      type: io.kestra.plugin.ai.provider.openai.ChatCompletion
      apiKey: "{{ secret('OPENAI_API_KEY') }}" 
      model: gpt-4o
    
    tools:
      - type: io.kestra.plugin.ai.tool.TavilyWebSearch
        apiKey: "{{ secret('TAVILY_API_KEY') }}"
        maxResults: 5

    prompt: |
      You are a tech analyst agent.
      1. Search for the latest news regarding "{{ inputs.topic }}".
      2. Summarize the top 3 findings into a short paragraph.
      3. CRITICAL DECISION: If the news contains security vulnerabilities, label status as "CRITICAL". Otherwise, "INFO".
      4. Return JSON with keys: "summary" and "status".

  - id: log_result
    type: io.kestra.plugin.core.log.Log
    message: |
      STATUS: {{ outputs.analyze_market.status }}
      SUMMARY: {{ outputs.analyze_market.summary }}