flows/agent.yml
id: tech_watchdog_agent
namespace: dev.hackathon
description: "AI Agent that scans tech news and alerts on critical items."

inputs:
  - id: topic
    type: STRING
    defaults: "Salesforce DevOps critical bugs"

tasks:
  - id: analyze_market
    type: io.kestra.plugin.ai.agent.AIAgent
    # This acts as the "BRAIN"
    model: 
      type: io.kestra.plugin.ai.provider.GoogleGemini
      modelName: gemini-1.5-flash
      apiKey: "{{ secret('AIzaSyAxhPQHjvgsf-MZ-4VZPLuCvVG91j0n3yU') }}"
    
    # These are the "HANDS" (Tools)
    tools:
      - type: io.kestra.plugin.ai.tool.TavilyWebSearch
        apiKey: "{{ secret('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') }}"
        maxResults: 5

    # The "INSTRUCTIONS"
    prompt: |
      You are a tech analyst agent.
      1. Search for the latest news regarding "{{ inputs.topic }}".
      2. Summarize the top 3 findings into a short paragraph.
      3. CRITICAL DECISION: If the news contains security vulnerabilities or major outages, label status as "CRITICAL". Otherwise, "INFO".
      4. Return JSON with keys: "summary" and "status".

  - id: log_result
    type: io.kestra.plugin.core.log.Log
    message: |
      STATUS: {{ outputs.analyze_market.status }}
      SUMMARY: {{ outputs.analyze_market.summary }}